*.DS_Store
lefthook.yml
template/node_modules
template/ios/Pods
template/android/build/
template/android/app/build/
node_modules
.idea
.gradle/
proguard/
ios/Pods/
vendor/
ios/prebuild.log
ios/tmp.xcconfig
.xcode.env.local
yarn.lock
Gemfile.lock
Podfile.lock
local.properties
.vscode/